body
{
    background: linear-gradient(0deg, rgba(0,0,0,.45), rgba(0,0,0,.45)), url('../index-background.jpg') no-repeat fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    overflow: scroll;
}

.background
{ 
    display: flex;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.form-container
{
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: auto auto;
    -webkit-box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    background-color: rgba(0,0,0,0.85);
    border-radius: 20px;
}

.btn
{
    width: fit-content; 
    margin-top: 5%;
    align-self: center;
    padding: 5px 35px;
    border-radius: 60px;
    font-size: 30px;
    font-weight: 500;
    background-color: #1c60c5;
    outline: none;
    border: none;
    color: white;
    margin-right: 1rem;
    margin-left: 1rem;
}

.form-container button:hover
{ background-color: #008867; }

h1, h2, h3, ul, li
{
    color: white; 
}

label
{
    color: white;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 20px;
}

input[type="number"], input[type="text"]
{
    border-radius: 20px;
    appearance: textfield;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

select
{
    border-radius: 20px;
    padding: 10px 20px;
}

.separator 
{
    height: 2px; 
    margin: 20px 0; 
}

.partecipants-container
{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: fit-content;
    -webkit-box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    background-color: rgba(0,0,0,0.85);
    border-radius: 20px;
    margin-left: 2rem;
    padding: 10px;
}

.partecipants-container label
{
    margin: 0.5rem 1.5rem;
    border: solid 2px white;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    width: fit-content;
}

.single-partecipant
{
    display: flex;
    align-items: center;
}

.edit-form-partecipant
{
    display: flex;
    align-items: center;
    margin: 0.5rem 1.5rem;
}

.edit-form-partecipant input[type="number"], .edit-form-partecipant input[type="text"], .edit-form-partecipant select
{
    width: 80%;
    height: fit-content;
}

.edit-form-partecipant label, .edit-form-partecipant img
{
    margin: 0.5rem;
}

.auction-list
{
    display: flex;
    height: fit-content;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    background-color: rgba(0,0,0,0.85);
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 2rem 3rem;
}

.events
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    overflow-y: auto;
}

.edit-btn, .cancel-btn, .confirm-btn, .delete-btn
{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 1rem;
}

.single-event
{
    display: flex;
    align-items: center;
    margin: 0.45rem 0;
}

.single-event label 
{
    margin-top: 0;
}

.edit-form
{
    display: flex;
    align-items: center;
}

.edit-form input[type="number"], .edit-form input[type="text"], .edit-form select
{
    width: 20%;
    height: fit-content;
}

.edit-form label, .edit-form img
{
    margin: 0.5rem;
}

.modal 
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content 
{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
}

.close 
{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content h2 
{
    text-align: center;
}

.modal-content h1, .modal-content h2, .modal-content h3, .modal-content ul, .modal-content li 
{
    color: black;
}

.star 
{
    display: inline-block;
    font-size: 40px;
    line-height: 1;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

.star-list
{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: fit-content;
    -webkit-box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 56px 23px rgba(0,0,0,0.73);
    background-color: rgba(0,0,0,0.85);
    border-radius: 20px;
    margin-right: 2rem;
    padding: 10px;
}

.star-list h3
{
    margin: 1rem 1.5rem;
}

.star-list ul
{
    margin: 0 1rem;
}

.star-list h2
{
    margin:  1.5rem auto;
}